{% extends "account/base_entrance.html" %}
{% block head_title %}Регистрация{% endblock head_title %}

{% block content %}
    <h1>Ваше пространство для QA.</h1>
    <p class="auth-intro">Создайте аккаунт и сохраняйте результаты работы.</p>

    {% if not SOCIALACCOUNT_ONLY %}
        <form method="post" action="{% url 'account_signup' %}" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-field">
                {{ form.first_name.errors }}
                <label for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
            </div>

            <div class="form-field">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>

            <div class="form-field">
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Пароль</label>
                {{ form.password1 }}
            </div>

            <div class="form-field">
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Повторите пароль</label>
                {{ form.password2 }}
            </div>

            <div class="password-help">
                {{ form.password1.help_text|safe }}
                {{ form.password2.help_text|safe }}
            </div>

            {{ redirect_field }}
            <button type="submit">Создать аккаунт</button>
        </form>
        <div class="auth-links">
            <a href="{{ login_url }}">У меня уже есть аккаунт</a>
        </div>
    {% endif %}
{% endblock content %}
