{
    email {$ACME_EMAIL}
}

{$SITE_DOMAIN} {
    encode zstd gzip

    @private_media path /media/*
    respond @private_media 404

    handle_path /static/* {
        root * /srv/static
        header Cache-Control "public, max-age=604800"
        file_server
    }

    handle {
        reverse_proxy web:8000
    }
}
